<nav class="navbar">
  <div class="navbar-container container">
    <input type="checkbox" name="" id="" />
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <div class="menu-items">
      <div><a href="#" class="menu-link">Inicio</a></div>
      <div><a href="#" class="menu-link">Agenda</a></div>
      <div><a href="#" class="menu-link">Speakers</a></div>
      <div><a href="#" class="menu-link">Sponsors</a></div>
    </div>
    <h1 class="logo">CodeOn 2024</h1>
  </div>
</nav>

<style>
  .container {
    width: 100%;
    margin: auto;
  }

  .navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    color: #294c60;
    z-index: 100;
  }

  .navbar-container {
    display: flex;
    justify-content: flex-start;
    height: 72px;
    align-items: center;
    background: #ffff;
    border-radius: 0px;
    position: relative;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 5px;
    width: 85%;
    border-radius: 20px;
    background: #294c60;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: -12% 50%;
    transition: transform 0.3s ease-in-out;
  }

  .menu-items {
    background: #fff;
    height: 100vh;
    width: 200px;
    transform: translate(100%);
    position: absolute;
    right: 0px;
    top: 90%;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    padding: 20px 20px;
  }

  .navbar .menu-items div {
    margin-bottom: 1.8rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .menu-link {
    position: relative;
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }

  .menu-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #ff7a00;
    transition: width 0.3s ease, background-color 0.3s ease;
  }

  .menu-link:hover::after,
  .menu-link.active::after {
    width: 100%;
    left: 0;
    background: #ff7a00;
  }

  .menu-link:hover,
  .menu-link.active {
    color: #ff7a00;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .logo {
    color: #ff7a00;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 15px;
  }

  @media (min-width: 769px) {
    .container {
      width: 70%;
    }

    .navbar {
      top: 20px;
    }

    .navbar-container {
      height: 60px;
      border-radius: 40px;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: none;
    }

    .menu-items {
      background-color: transparent;
      order: 2;
      display: flex;
      justify-content: space-evenly;
      position: relative;
      height: auto;
      top: 0px;
      width: 100%;
      transform: none;
      flex-direction: row;
      transition: none;
    }

    .navbar .menu-items div {
      margin-bottom: 0;
      font-weight: 500;
    }

    .logo {
      order: 1;
      margin: 0px 0px 0px 40px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @media (min-width: 1090px) {
      .container {
        width: 50%;
      }
    }
  }
</style>

<script>
  document.querySelectorAll('.menu-link').forEach(link => {
    link.addEventListener('click', function() {
      document.querySelectorAll('.menu-link').forEach(item => item.classList.remove('active'));
      this.classList.add('active');
    });
  });
</script>
