---
import SpeakerCard from "./SpeakerCard.astro";

const speakers = [
  {
    imageUrl: "/assets/speakersImage/CristianOscco_Image.png",
    name: "Cristian Oscco Cañari",
    role: "GDG Organizer | DSC UTP Lead | Frontend & iOS Developer",
    socialLinks: {
      instagram: "https://www.instagram.com/cristiandaos",
      linkedin: "https://www.linkedin.com/in/cristiandaos/",
    },
  },
  {
    imageUrl: "/assets/speakersImage/Gianmarco_Guerrero.jpg",
    name: "Gianmarco Guerrero",
    role: "DSC UTP | IEEE CS UTP | Notion Campus Lead",
    socialLinks: {
      linkedin: "https://www.linkedin.com/in/gianmarco-guerrero-menacho/",
    },
  },
  {
    imageUrl: "/assets/speakersImage/Angela_Irka.jpg",
    name: "Angela Enciso Camacho",
    role: "Ingeniería de Software | IEEE Computer Society UTP",
    socialLinks: {
      instagram: "https://www.instagram.com/jimydolores",
      linkedin: "https://www.linkedin.com/in/angela-irka-enciso-camacho-6394281b6/",
    },
  },
  {
    imageUrl: "/assets/speakersImage/Jose_Flores_Chamba.png",
    name: "Jose Flores Chamba",
    role: "Full Stack | IEEE Untels Computer Society",
    socialLinks: {
      linkedin: "https://www.linkedin.com/in/jfloresxc/",
    },
  },
  {
    imageUrl: "/assets/speakersImage/Jimy_Dolores.jpeg",
    name: "Jimy Dolores",
    role: "Technical Lead & Frontend Architect en Nisum Latam | Angular Perú",
    socialLinks: {
      instagram: "https://www.instagram.com/jimydolores",
      github: "https://github.com/jimyhdolores",
      linkedin: "https://www.linkedin.com/in/jimyhuachodolores",
    },
  },
  {
    imageUrl: "/assets/speakersImage/Jose_Guerra.png",
    name: "Jose Guerra Martinez",
    role: "Presales Specialist Data/AI | Developer Student Clubs UNI",
    socialLinks: {
      linkedin: "https://www.linkedin.com/in/jose-carlos-guerra-martinez/",
    },
  },
  {
    imageUrl: "/assets/speakersImage/Kerk_Lopez_Izaguirre.png",
    name: "Keneth Lopez Izaguirre",
    role: "Ingeniero de Sistemas | CEO EduKuna",
    socialLinks: {
      instagram: "https://www.instagram.com/kenethlopezzz/",
      linkedin: "https://www.linkedin.com/in/keneth-lopez/",
    },
  },
  {
    imageUrl: "/assets/speakersImage/Javier_Esmith_Blanco.jpg",
    name: "Javier Blanco Chuquizuta",
    role: "Frontend Developer | Cloud | Backend Developer",
    socialLinks: {
      github: "https://github.com/javierblancoch",
    },
  },
  {
    imageUrl: "/assets/speakersImage/Katherine_Galiccio.jpg",
    name: "Katherine Patricia Vildoso",
    role: "Fudadora y Directora de Arte en Dart Agency | WeLoveGames",
    socialLinks: {
      instagram: "https://www.instagram.com/ohekate",
    },
  },
  {
    imageUrl: "/assets/speakersImage/KAMITTO_NUÑEZ.jpg",
    name: "Soleil Nuñez Pumacallahui",
    role: "Ingeniería de Sistemas | Líder de IncideTec Perú",
    socialLinks: {
      instagram: "https://www.instagram.com/sol.kamitto/",
      linkedin: "https://www.linkedin.com/in/soleilkamitto",
    },
  },
  {
    imageUrl: "/assets/speakersImage/NapsterDev.png",
    name: "Homer López Vidal",
    role: "Frontend Developer | Software Engineer",
    socialLinks: {
      github: "https://github.com/napsterh",
      linkedin: "https://www.linkedin.com/in/homer-lopez/",
    },
  },
  {
    imageUrl: "/assets/speakersImage/Gian_Sandoval.jpg",
    name: "Giancarlos Sandoval Tume",
    role: "Flutter Developer Sr en Zenith Agency | Flutter Piura",
    socialLinks: {
      github: "https://github.com/GianSandoval5",
      linkedin: "https://www.linkedin.com/in/giansandoval",
    },
  },
  {
    imageUrl: "/assets/speakersImage/Yeder.jpeg",
    name: "Yeder Laura Vicente ",
    role: "Data Learning Lab | IEEE CS UTP",
    socialLinks: {
      instagram: "https://www.instagram.com/Yeder.dev",
      linkedin: "https://www.linkedin.com/in/yederlvicente",
    },
  },
  {
    imageUrl: "/assets/speakersImage/alfredo_amez.jpg",
    name: "Alfredo Amez Mendes",
    role: "Customer Intelligence | Marketing Analytics",
    socialLinks: {
      linkedin: "https://www.linkedin.com/in/afredoamez/",
    },
  },
  {
    imageUrl: "/assets/speakersImage/FelixCastro.JPG",
    name: "Felix Castro Cubas",
    role: "Profesional en Sistemas e Informática | Frontend en IDBi",
    socialLinks: {
      linkedin: "https://www.linkedin.com/in/felix-castro-cubas-633037192/",
      github: "https://github.com/FelixGonzalo",
    },
  },
  {
    imageUrl: "/assets/speakersImage/JaimeFernandez.jpg",
    name: "Jaime Fernández",
    role: "Business Specialist en Pacífico Seguros | Fundador de Techly",
    socialLinks: {
      linkedin: "https://www.linkedin.com/in/jaime-alejandro-fern%C3%A1ndez-chavez/",
    },
  },
  {
    imageUrl: "/assets/speakersImage/GianmarcosEspinoza.jpg",
    name: "Guianmarcos Espinoza",
    role: "Ingeniero de Datos | Fundador de Data Growth Community",
    socialLinks: {
      linkedin: "https://www.linkedin.com/in/gianmarcosespinoza/",
    },
  },
];

---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      speakers.map((speaker, index) => (
        <div class="swiper-slide">
          <SpeakerCard {...speaker} />
        </div>
      ))
    }
  </div>
  <br />
  <br />
  <div class="swiper-pagination"></div>
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper(".swiper", {
    slidesPerView: 1,
    slidesPerGroupSkip: 1,
    spaceBetween: 20,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    breakpoints: {
      769: {
        slidesPerView: 3,
        slidesPerGroup: 3,
      },
      530: {
        slidesPerView: 2,
        slidesPerGroup: 2,
      },
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

<style>
    :root{
        --swiper-pagination-color: #ff7a00;
    }
</style>
