<ul class="technologies">
  <li>
    <svg
      viewBox="0 0 32 32"
      id="Camada_1"
      version="1.1"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g>
        <path
          d="M29.7,16c0-1.9-2.2-3.5-5.7-4.5C24.9,8,24.6,5.3,23,4.3C22.6,4.1,22.2,4,21.7,4c-1.5,0-3.5,1.1-5.5,3c-2-1.9-3.9-3-5.5-3   c-0.5,0-0.9,0.1-1.3,0.3C7.9,5.3,7.6,8,8.4,11.5c-3.4,1-5.7,2.7-5.7,4.5c0,1.9,2.2,3.5,5.7,4.5c-0.8,3.5-0.5,6.3,1.1,7.2   c0.4,0.2,0.8,0.3,1.3,0.3c1.5,0,3.5-1.1,5.5-3c2,1.9,3.9,3,5.5,3c0.5,0,0.9-0.1,1.3-0.3c1.6-0.9,1.9-3.7,1.1-7.2   C27.5,19.5,29.7,17.8,29.7,16z M21.7,5.3c0.3,0,0.5,0,0.6,0.2c0.8,0.4,1.1,2,0.8,4.1c-0.1,0.5-0.2,1.1-0.3,1.6   c-1.1-0.3-2.2-0.4-3.5-0.6c-0.7-1-1.4-1.9-2.2-2.7C18.9,6.2,20.6,5.3,21.7,5.3z M19.9,18.1c-0.4,0.7-0.8,1.4-1.3,2   c-0.8,0.1-1.6,0.1-2.4,0.1c-0.8,0-1.6,0-2.4-0.1c-0.4-0.6-0.8-1.3-1.3-2c-0.4-0.7-0.8-1.4-1.1-2.1c0.3-0.7,0.7-1.4,1.1-2.1   c0.4-0.7,0.9-1.4,1.3-2.1c0.8-0.1,1.6-0.1,2.4-0.1c0.8,0,1.6,0,2.4,0.1c0.4,0.6,0.9,1.3,1.3,2.1c0.4,0.7,0.8,1.4,1.1,2.1   C20.7,16.7,20.3,17.4,19.9,18.1z M21.7,17.5c0.3,0.7,0.5,1.4,0.7,2c-0.7,0.2-1.4,0.3-2.1,0.4c0.2-0.4,0.5-0.8,0.7-1.2   C21.3,18.4,21.5,17.9,21.7,17.5L21.7,17.5z M16.2,23.2c-0.5-0.5-1-1.1-1.4-1.7c0.5,0,1,0,1.4,0c0.5,0,1,0,1.4,0   C17.2,22.1,16.7,22.7,16.2,23.2z M12.1,20c-0.7-0.1-1.4-0.2-2.1-0.4c0.2-0.7,0.5-1.4,0.7-2c0.2,0.4,0.4,0.8,0.7,1.2   C11.7,19.2,11.9,19.6,12.1,20L12.1,20z M10.7,14.5c-0.3-0.7-0.5-1.4-0.8-2.1c0.7-0.2,1.4-0.3,2.2-0.4c-0.3,0.4-0.5,0.8-0.8,1.2   C11.2,13.7,11,14.1,10.7,14.5z M16.2,8.8c0.5,0.5,0.9,1.1,1.4,1.6c-0.5,0-0.9,0-1.4,0c-0.5,0-0.9,0-1.4,0   C15.3,9.9,15.8,9.3,16.2,8.8z M21,13.2c-0.3-0.4-0.5-0.8-0.8-1.2c0.8,0.1,1.5,0.2,2.2,0.4c-0.2,0.7-0.5,1.4-0.8,2.1   C21.5,14.1,21.3,13.7,21,13.2z M9.4,9.5c-0.3-2.1,0-3.6,0.8-4.1c0.2-0.1,0.4-0.2,0.6-0.2c1.1,0,2.7,0.9,4.5,2.6   c-0.7,0.8-1.5,1.7-2.2,2.7c-1.2,0.1-2.4,0.3-3.5,0.6C9.5,10.6,9.4,10,9.4,9.5z M7.2,18.7C5.3,17.9,4,16.8,4,16   c0-0.9,1.2-1.9,3.1-2.7c0.5-0.2,1-0.4,1.6-0.5c0.3,1.1,0.7,2.2,1.3,3.3c-0.5,1.1-0.9,2.2-1.2,3.2C8.2,19.1,7.7,18.9,7.2,18.7   L7.2,18.7z M10.1,26.6c-0.8-0.4-1.1-2-0.8-4.1c0.1-0.5,0.2-1.1,0.3-1.7c1.1,0.2,2.2,0.4,3.4,0.5c0.7,1,1.5,1.9,2.2,2.7   c-1.8,1.7-3.4,2.6-4.5,2.6C10.5,26.7,10.3,26.6,10.1,26.6L10.1,26.6z M23.1,22.5c0.3,2.1,0,3.6-0.8,4.1c-0.2,0.1-0.4,0.2-0.6,0.2   c-1.1,0-2.7-0.9-4.5-2.6c0.8-0.8,1.5-1.7,2.2-2.7c1.2-0.1,2.4-0.3,3.4-0.5C22.9,21.4,23,21.9,23.1,22.5L23.1,22.5z M25.3,18.7   c-0.5,0.2-1,0.4-1.6,0.5c-0.3-1-0.7-2.1-1.2-3.2c0.5-1.1,0.9-2.2,1.3-3.3c0.5,0.2,1.1,0.3,1.6,0.5c1.9,0.8,3.1,1.8,3.1,2.7   C28.4,16.8,27.2,17.9,25.3,18.7L25.3,18.7z"
        ></path>

        <path
          d="M16.3,18.5c1.4,0,2.5-1.1,2.5-2.5s-1.1-2.5-2.5-2.5s-2.5,1.1-2.5,2.5S14.9,18.5,16.3,18.5z"
        ></path>
      </g>
    </svg>
  </li>
  <li>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 512 512"
      enable-background="new 0 0 512 512"
      xml:space="preserve"
    >
      <g id="5151e0c8492e5103c096af88a51e2ea6">
        <path
          display="inline"
          d="M401.054,224c3.714,4.115,4.595,11.181,2.653,21.19c-2.029,10.425-5.935,17.862-11.723,22.32
    c-5.793,4.458-14.602,6.687-26.432,6.687h-17.849l10.957-56.37h20.103C389.913,217.827,397.34,219.886,401.054,224z
     M149.754,217.827h-20.103l-10.958,56.37h17.848c11.827,0,20.639-2.229,26.432-6.687c5.789-4.458,9.694-11.896,11.723-22.32
    c1.942-10.01,1.06-17.075-2.653-21.19C168.33,219.886,160.903,217.827,149.754,217.827z M511.5,256
    c0,74.229-114.393,134.403-255.5,134.403S0.5,330.229,0.5,256c0-74.228,114.393-134.403,255.5-134.403S511.5,181.772,511.5,256z
     M198.542,265.286c3.04-5.448,5.203-11.461,6.483-18.037c3.102-15.967,0.761-28.403-7.024-37.313
    c-7.781-8.91-20.165-13.363-37.136-13.363h-56.423L78.265,331.261h29.342l6.958-35.805h25.134c11.087,0,20.21-1.164,27.372-3.497
    c7.161-2.329,13.669-6.233,19.528-11.719C191.514,275.72,195.493,270.738,198.542,265.286z M301.814,295.456l12.181-62.682
    c2.479-12.747,0.619-21.971-5.572-27.664c-6.196-5.688-17.449-8.537-33.768-8.537h-25.933l6.961-35.81h-29.11l-26.182,134.692
    h29.11l14.996-77.165h23.267c7.448,0,12.317,1.232,14.604,3.698c2.287,2.467,2.773,7.091,1.455,13.869l-11.581,59.598H301.814z
     M427.011,209.937c-7.78-8.91-20.164-13.363-37.135-13.363h-56.424l-26.178,134.688h29.343l6.957-35.805h25.135
    c11.086,0,20.21-1.164,27.371-3.497c7.161-2.329,13.669-6.233,19.528-11.719c4.92-4.521,8.896-9.502,11.943-14.954
    c3.044-5.448,5.202-11.461,6.483-18.037C437.137,231.282,434.796,218.846,427.011,209.937z"
        >
        </path>
      </g>
    </svg>
  </li>
  <li>
    <svg viewBox="0 0 862 441" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7.41 349.97C11.7167 346.55 13.68 344.967 13.3 345.22C25.7133 334.96 35.4667 326.537 42.56 319.95C49.78 313.363 55.86 306.46 60.8 299.24C65.74 292.02 68.21 284.99 68.21 278.15C68.21 272.957 67.0067 268.903 64.6 265.99C62.1933 263.077 58.5833 261.62 53.77 261.62C48.9567 261.62 45.1567 263.457 42.37 267.13C39.71 270.677 38.38 275.743 38.38 282.33H7.03C7.28333 271.563 9.56333 262.57 13.87 255.35C18.3033 248.13 24.0667 242.81 31.16 239.39C38.38 235.97 46.36 234.26 55.1 234.26C70.1733 234.26 81.51 238.123 89.11 245.85C96.8367 253.577 100.7 263.647 100.7 276.06C100.7 289.613 96.0767 302.217 86.83 313.87C77.5833 325.397 65.8033 336.67 51.49 347.69H102.79V374.1H7.41V349.97ZM117.095 304.75C117.095 282.963 121.275 265.8 129.635 253.26C138.122 240.72 151.738 234.45 170.485 234.45C189.232 234.45 202.785 240.72 211.145 253.26C219.632 265.8 223.875 282.963 223.875 304.75C223.875 326.79 219.632 344.08 211.145 356.62C202.785 369.16 189.232 375.43 170.485 375.43C151.738 375.43 138.122 369.16 129.635 356.62C121.275 344.08 117.095 326.79 117.095 304.75ZM191.955 304.75C191.955 291.957 190.562 282.14 187.775 275.3C184.988 268.333 179.225 264.85 170.485 264.85C161.745 264.85 155.982 268.333 153.195 275.3C150.408 282.14 149.015 291.957 149.015 304.75C149.015 313.363 149.522 320.52 150.535 326.22C151.548 331.793 153.575 336.353 156.615 339.9C159.782 343.32 164.405 345.03 170.485 345.03C176.565 345.03 181.125 343.32 184.165 339.9C187.332 336.353 189.422 331.793 190.435 326.22C191.448 320.52 191.955 313.363 191.955 304.75ZM239.9 349.97C244.207 346.55 246.17 344.967 245.79 345.22C258.204 334.96 267.957 326.537 275.05 319.95C282.27 313.363 288.35 306.46 293.29 299.24C298.23 292.02 300.7 284.99 300.7 278.15C300.7 272.957 299.497 268.903 297.09 265.99C294.684 263.077 291.074 261.62 286.26 261.62C281.447 261.62 277.647 263.457 274.86 267.13C272.2 270.677 270.87 275.743 270.87 282.33H239.52C239.774 271.563 242.054 262.57 246.36 255.35C250.794 248.13 256.557 242.81 263.65 239.39C270.87 235.97 278.85 234.26 287.59 234.26C302.664 234.26 314 238.123 321.6 245.85C329.327 253.577 333.19 263.647 333.19 276.06C333.19 289.613 328.567 302.217 319.32 313.87C310.074 325.397 298.294 336.67 283.98 347.69H335.28V374.1H239.9V349.97ZM350.345 351.3V325.08L410.385 239.2H446.675V323.18H462.255V351.3H446.675V376H414.185V351.3H350.345ZM416.465 274.92L384.545 323.18H416.465V274.92Z"
        fill="url(#paint0_linear_215_4)"></path>
      <path
        d="M6.27 142.12C6.27 128.947 9.12 117.23 14.82 106.97C20.52 96.5833 28.4367 88.54 38.57 82.84C48.83 77.0133 60.42 74.1 73.34 74.1C89.1733 74.1 102.727 78.28 114 86.64C125.273 95 132.81 106.4 136.61 120.84H100.89C98.23 115.267 94.43 111.023 89.49 108.11C84.6767 105.197 79.1667 103.74 72.96 103.74C62.9533 103.74 54.8467 107.223 48.64 114.19C42.4333 121.157 39.33 130.467 39.33 142.12C39.33 153.773 42.4333 163.083 48.64 170.05C54.8467 177.017 62.9533 180.5 72.96 180.5C79.1667 180.5 84.6767 179.043 89.49 176.13C94.43 173.217 98.23 168.973 100.89 163.4H136.61C132.81 177.84 125.273 189.24 114 197.6C102.727 205.833 89.1733 209.95 73.34 209.95C60.42 209.95 48.83 207.1 38.57 201.4C28.4367 195.573 20.52 187.53 14.82 177.27C9.12 167.01 6.27 155.293 6.27 142.12ZM204.767 210.52C194.38 210.52 185.007 208.303 176.647 203.87C168.413 199.437 161.89 193.103 157.077 184.87C152.39 176.637 150.047 167.01 150.047 155.99C150.047 145.097 152.453 135.533 157.267 127.3C162.08 118.94 168.667 112.543 177.027 108.11C185.387 103.677 194.76 101.46 205.147 101.46C215.533 101.46 224.907 103.677 233.267 108.11C241.627 112.543 248.213 118.94 253.027 127.3C257.84 135.533 260.247 145.097 260.247 155.99C260.247 166.883 257.777 176.51 252.837 184.87C248.023 193.103 241.373 199.437 232.887 203.87C224.527 208.303 215.153 210.52 204.767 210.52ZM204.767 182.4C210.973 182.4 216.23 180.12 220.537 175.56C224.97 171 227.187 164.477 227.187 155.99C227.187 147.503 225.033 140.98 220.727 136.42C216.547 131.86 211.353 129.58 205.147 129.58C198.813 129.58 193.557 131.86 189.377 136.42C185.197 140.853 183.107 147.377 183.107 155.99C183.107 164.477 185.133 171 189.187 175.56C193.367 180.12 198.56 182.4 204.767 182.4ZM271.023 155.8C271.023 144.907 273.05 135.343 277.103 127.11C281.283 118.877 286.92 112.543 294.013 108.11C301.106 103.677 309.023 101.46 317.763 101.46C324.73 101.46 331.063 102.917 336.763 105.83C342.59 108.743 347.15 112.67 350.443 117.61V68.4H382.933V209H350.443V193.8C347.403 198.867 343.033 202.92 337.333 205.96C331.76 209 325.236 210.52 317.763 210.52C309.023 210.52 301.106 208.303 294.013 203.87C286.92 199.31 281.283 192.913 277.103 184.68C273.05 176.32 271.023 166.693 271.023 155.8ZM350.443 155.99C350.443 147.883 348.163 141.487 343.603 136.8C339.17 132.113 333.723 129.77 327.263 129.77C320.803 129.77 315.293 132.113 310.733 136.8C306.3 141.36 304.083 147.693 304.083 155.8C304.083 163.907 306.3 170.367 310.733 175.18C315.293 179.867 320.803 182.21 327.263 182.21C333.723 182.21 339.17 179.867 343.603 175.18C348.163 170.493 350.443 164.097 350.443 155.99ZM506.378 154.28C506.378 157.32 506.188 160.487 505.808 163.78H432.278C432.785 170.367 434.875 175.433 438.548 178.98C442.348 182.4 446.972 184.11 452.418 184.11C460.525 184.11 466.162 180.69 469.328 173.85H503.908C502.135 180.817 498.905 187.087 494.218 192.66C489.658 198.233 483.895 202.603 476.928 205.77C469.962 208.937 462.172 210.52 453.558 210.52C443.172 210.52 433.925 208.303 425.818 203.87C417.712 199.437 411.378 193.103 406.818 184.87C402.258 176.637 399.978 167.01 399.978 155.99C399.978 144.97 402.195 135.343 406.628 127.11C411.188 118.877 417.522 112.543 425.628 108.11C433.735 103.677 443.045 101.46 453.558 101.46C463.818 101.46 472.938 103.613 480.918 107.92C488.898 112.227 495.105 118.37 499.538 126.35C504.098 134.33 506.378 143.64 506.378 154.28ZM473.128 145.73C473.128 140.157 471.228 135.723 467.428 132.43C463.628 129.137 458.878 127.49 453.178 127.49C447.732 127.49 443.108 129.073 439.308 132.24C435.635 135.407 433.355 139.903 432.468 145.73H473.128ZM586.598 210.33C574.058 210.33 562.532 207.417 552.018 201.59C541.632 195.763 533.335 187.657 527.128 177.27C521.048 166.757 518.008 154.977 518.008 141.93C518.008 128.883 521.048 117.167 527.128 106.78C533.335 96.3933 541.632 88.2867 552.018 82.46C562.532 76.6333 574.058 73.72 586.598 73.72C599.138 73.72 610.602 76.6333 620.988 82.46C631.502 88.2867 639.735 96.3933 645.688 106.78C651.768 117.167 654.808 128.883 654.808 141.93C654.808 154.977 651.768 166.757 645.688 177.27C639.608 187.657 631.375 195.763 620.988 201.59C610.602 207.417 599.138 210.33 586.598 210.33ZM586.598 180.69C597.238 180.69 605.725 177.143 612.058 170.05C618.518 162.957 621.748 153.583 621.748 141.93C621.748 130.15 618.518 120.777 612.058 113.81C605.725 106.717 597.238 103.17 586.598 103.17C575.832 103.17 567.218 106.653 560.758 113.62C554.425 120.587 551.258 130.023 551.258 141.93C551.258 153.71 554.425 163.147 560.758 170.24C567.218 177.207 575.832 180.69 586.598 180.69ZM737.484 101.84C749.897 101.84 759.777 105.893 767.124 114C774.597 121.98 778.334 133 778.334 147.06V209H746.034V151.43C746.034 144.337 744.197 138.827 740.524 134.9C736.85 130.973 731.91 129.01 725.704 129.01C719.497 129.01 714.557 130.973 710.884 134.9C707.21 138.827 705.374 144.337 705.374 151.43V209H672.884V102.98H705.374V117.04C708.667 112.353 713.1 108.68 718.674 106.02C724.247 103.233 730.517 101.84 737.484 101.84Z"
        fill="url(#paint1_linear_215_4)"></path>
      <defs>
        <linearGradient
          id="paint0_linear_215_4"
          x1="-1.46702e-07"
          y1="231.317"
          x2="474.403"
          y2="254.756"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFA800"></stop>
          <stop offset="0.397399" stop-color="#FF7A00"></stop>
          <stop offset="0.686812" stop-color="#E16C01"></stop>
          <stop offset="1" stop-color="#F97700"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_215_4"
          x1="-2.69057e-07"
          y1="124.95"
          x2="870.306"
          y2="165.544"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFA800"></stop>
          <stop offset="0.397399" stop-color="#FF7A00"></stop>
          <stop offset="0.686812" stop-color="#E16C01"></stop>
          <stop offset="1" stop-color="#F97700"></stop>
        </linearGradient>
      </defs>
    </svg>
  </li>
  <li>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 512 512"
      enable-background="new 0 0 512 512"
      xml:space="preserve"
    >
      <g id="5151e0c8492e5103c096af88a51f17e3">
        <path
          display="inline"
          d="M482.585,147.869v216.113c0,14.025-7.546,27.084-19.672,34.143L275.665,506.241
    c-5.989,3.474-12.782,5.259-19.719,5.259c-6.838,0-13.649-1.785-19.639-5.259l-62.521-36.99c-9.326-5.207-4.775-7.059-1.692-8.128
    c12.454-4.322,14.973-5.318,28.268-12.863c1.387-0.793,3.216-0.483,4.647,0.343l48.031,28.519c1.741,0.981,4.2,0.981,5.801,0
    l187.263-108.086c1.744-0.996,2.862-2.983,2.862-5.053V147.869c0-2.117-1.118-4.094-2.906-5.163L258.874,34.716
    c-1.726-1.01-4.03-1.01-5.768,0L65.962,142.736c-1.818,1.04-2.965,3.079-2.965,5.133v216.113c0,2.069,1.146,4.009,2.954,4.99
    l51.299,29.654c27.829,13.903,44.875-2.485,44.875-18.956V166.309c0-3.017,2.423-5.396,5.439-5.396h23.747
    c2.969,0,5.429,2.378,5.429,5.396v213.362c0,37.146-20.236,58.454-55.452,58.454c-10.816,0-19.347,0-43.138-11.713l-49.098-28.287
    c-12.133-6.995-19.638-20.117-19.638-34.143V147.869c0-14.043,7.505-27.15,19.638-34.135L236.308,5.526
    c11.85-6.701,27.608-6.701,39.357,0l187.248,108.208C475.039,120.748,482.585,133.826,482.585,147.869z M321.171,343.367
    c-55.88,0-68.175-14.048-72.294-41.836c-0.477-2.966-3.018-5.175-6.063-5.175h-27.306c-3.382,0-6.096,2.703-6.096,6.104
    c0,35.56,19.354,77.971,111.759,77.971c66.906,0,105.269-26.339,105.269-72.343c0-45.623-30.827-57.76-95.709-66.35
    c-65.579-8.678-72.243-13.147-72.243-28.508c0-12.661,5.643-29.581,54.216-29.581c43.374,0,59.365,9.349,65.94,38.576
    c0.579,2.755,3.083,4.765,5.923,4.765h27.409c1.7,0,3.315-0.73,4.47-1.943c1.158-1.28,1.773-2.947,1.611-4.695
    c-4.241-50.377-37.713-73.844-105.354-73.844c-60.209,0-96.118,25.414-96.118,68.002c0,46.217,35.729,59,93.5,64.702
    c69.138,6.782,74.504,16.883,74.504,30.488C384.589,333.299,365.655,343.367,321.171,343.367z"
        >
        </path>
      </g>
    </svg>
  </li>
  <li>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 512 512"
      enable-background="new 0 0 512 512"
      xml:space="preserve"
    >
      <g id="5151e0c8492e5103c096af88a51e8d81">
        <path
          display="inline"
          d="M193.918,208.369c-4.729-10.456-6.849-22.652-3.236-33.731c3.612-11.327,11.703-20.413,19.794-28.878
    c22.525-22.531,50.285-39.085,72.316-61.986c12.197-12.573,22.278-27.634,25.762-44.937c2.864-12.695,1.496-25.764-1.117-38.337
    c11.7,13.319,15.559,32.363,12.197,49.541c-3.608,19.292-14.316,36.344-26.886,51.031c-10.081,11.827-21.659,22.282-33.731,31.993
    c-14.065,11.327-27.88,23.524-36.716,39.457c-7.472,12.943-9.215,28.876-4.11,42.942c8.341,24.146,27.756,42.071,38.338,64.848
    c-11.703-10.332-23.152-21.036-33.86-32.361C211.471,236.001,200.889,223.307,193.918,208.369z M257.398,189.448
    c-2.115,19.792,8.213,38.462,20.539,53.151c5.972,6.596,11.076,14.687,11.323,23.899c0.251,12.318-6.716,23.774-15.684,31.861
    c2.119-0.246,3.612-2.115,5.355-3.11c13.443-8.589,26.385-19.418,32.982-34.227c4.357-10.083,3.362-22.034-2.362-31.371
    c-6.724-10.953-15.559-20.662-20.786-32.61c-2.867-6.721-3.862-14.562-1.496-21.657c3.114-9.583,9.834-17.426,16.93-24.272
    c19.54-18.544,43.189-31.743,65.844-46.179c-28.629,8.214-56.883,19.542-81.03,37.343
    C273.702,153.727,259.515,169.658,257.398,189.448z M393.447,283.052c13.568,0.748,26.882,10.704,29.374,24.397
    c2.366,11.825-3.358,23.524-10.705,32.485c-12.075,14.438-28.382,24.771-44.807,33.609c-1.622,0.991-2.99,2.237-4.235,3.608
    c21.659-5.478,43.314-13.689,60.867-27.756c9.705-8.091,18.294-18.799,20.163-31.619c1.743-11.076-2.86-22.528-11.077-29.871
    c-9.96-9.09-24.021-12.448-37.218-10.704c-7.593,0.995-15.931,2.613-21.158,8.961C380.877,284.921,386.971,282.429,393.447,283.052
    z M123.22,318.647c16.303,4.357,33.108,5.603,49.787,6.724c14.936,0.995,29.875,1.246,44.937,1.12
    c38.833-0.619,77.916-3.236,116.003-11.699c3.608-0.87,7.593-1.493,10.833-3.733c6.347-4.11,13.313-7.347,20.162-10.583
    c-30.995,4.979-62.113,9.215-93.478,11.205c-31.74,1.991-63.731,3.236-95.593,1.121c-9.086-0.87-18.423-1.371-26.886-4.858
    c-1.994-0.87-4.733-2.609-3.738-5.227c1.869-3.361,5.603-4.977,8.839-6.72c13.694-6.473,28.629-10.081,43.193-14.313
    c-25.021-0.376-49.916,5.971-72.814,15.806c-5.105,2.491-10.83,4.481-14.936,8.714c-1.622,1.739-1.622,4.732,0.247,6.222
    C113.511,315.787,118.487,317.28,123.22,318.647z M324.864,352.88c-21.784,3.859-43.694,7.472-65.726,8.589
    c-24.147,1.618-48.294,0.247-72.191-2.241c-4.604-0.623-9.211-1.368-13.317-3.483c-2.116-1.246-4.231-3.236-4.106-5.854
    c0.247-4.106,3.73-6.967,6.222-9.956c-7.715,2.739-15.434,5.599-21.906,10.708c-2.742,2.116-5.478,5.474-4.733,9.208
    c1.125,4.356,5.356,6.97,9.09,8.96c9.208,4.733,19.54,6.846,29.625,8.714c25.511,4.11,51.527,4.235,77.167,2.488
    c27.141-2.115,54.148-6.594,80.411-14.313C337.932,362.342,330.836,358.479,324.864,352.88z M188.068,395.951
    c-6.97,1.99-14.066,4.357-19.79,8.957c-2.868,2.241-5.105,6.104-3.734,9.713c1.743,4.604,6.1,7.347,10.203,9.705
    c10.708,5.854,22.78,8.589,34.604,10.708c26.765,4.229,54.27,3.608,80.908-1.12c15.806-2.989,31.615-7.221,46.301-13.815
    c-9.584-3.984-18.917-8.467-27.878-13.693c-15.559,2.738-31.246,5.603-47.178,6.598c-21.032,1.618-42.319-0.125-63.355-2.738
    c-4.98-1.121-11.202-1.618-14.563-5.976C181.847,400.677,185.828,398.063,188.068,395.951z M358.345,475.982
    c17.424-3.604,34.977-7.719,50.908-15.806c4.976-2.867,11.076-5.979,12.698-11.95c0.87-5.725-5.105-8.714-9.337-11.08
    c2.613,2.993,4.356,7.347,1.74,10.83c-4.357,5.853-11.821,8.091-18.42,10.332c-20.66,5.85-42.072,8.216-63.355,10.582
    c-56.385,5.102-113.146,6.348-169.528,1.618c-18.92-1.994-38.217-4.109-56.264-10.829c-2.86-1.246-7.217-2.492-7.217-6.352
    c1.117-3.354,4.357-5.227,7.217-6.845c12.945-6.595,27.384-10.207,41.822-11.077c-4.228-2.491-9.208-2.738-14.062-2.613
    c-12.076,0.373-23.9,3.483-35.349,7.347c-9.834,3.604-19.916,7.59-27.76,14.811c-3.111,2.735-5.971,7.962-2.739,11.699
    c4.98,5.353,12.699,6.72,19.54,8.338c38.338,6.599,77.171,10.328,116.011,11.699C255.781,488.184,307.684,485.942,358.345,475.982z
     M409.378,482.706c-23.402,7.468-47.672,11.574-71.822,14.936c-41.696,5.227-83.769,6.845-125.716,5.603
    c-25.515-0.995-51.03-2.738-76.176-6.974c5.85,3.984,13.071,5.227,19.794,7.096c28.257,5.976,57.255,7.096,86.01,7.966
    c42.19,0.748,84.387-0.87,125.962-7.468c19.669-3.48,39.459-7.715,57.13-16.927c9.215-4.854,18.552-12.326,20.163-23.152
    C435.391,473.741,421.951,478.349,409.378,482.706z"
        >
        </path>
      </g>
    </svg>
  </li>
  <li>
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>angular</title>
      <rect width="24" height="24" fill="none"></rect>
      <path
        d="M12,2.5l8.84,3.15L19.5,17.35,12,21.5,4.5,17.35,3.16,5.65,12,2.5m0,2.1L6.47,17H8.53l1.11-2.78h4.7L15.45,17H17.5L12,4.6m1.62,7.9H10.39L12,8.63Z"
      ></path>
    </svg>
  </li>
  <li>
    <svg viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <title>firebase</title>
      <path
        d="M18.874 9.935l-2.274-4.351c-0.116-0.217-0.341-0.363-0.6-0.363s-0.484 0.145-0.598 0.359l-0.002 0.004-9.985 17.894zM26.852 25.202l-2.812-17.495c-0.052-0.325-0.331-0.571-0.667-0.571-0.189 0-0.359 0.077-0.482 0.202l-0 0-17.744 17.865 9.817 5.532c0.286 0.163 0.628 0.26 0.992 0.26s0.707-0.096 1.002-0.265l-0.010 0.005zM5.865 20.589l2.955-19.008c0.051-0.328 0.331-0.577 0.67-0.577 0.258 0 0.483 0.144 0.597 0.357l0.002 0.004 3.178 5.962z"
      ></path>
    </svg>
  </li>
  <li>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 512 512"
      enable-background="new 0 0 512 512"
      xml:space="preserve"
    >
      <g id="c133de6af664cd4f011a55de6b000d0b">
        <path
          display="inline"
          d="M108.669,0.501h23.032v22.756h21.069V0.501h23.034V69.41h-23.032V46.334h-21.069V69.41h-23.032V0.501
    H108.669z M206.091,23.353h-20.275V0.501h63.594v22.852h-20.285V69.41h-23.032V23.353H206.091z M259.502,0.501h24.02l14.771,24.213
    l14.759-24.213h24.023V69.41h-22.938V35.256l-15.845,24.5h-0.395l-15.856-24.5V69.41h-22.539V0.501z M348.54,0.501h23.038v46.133
    h32.391V69.41H348.54V0.501z M74.987,100.926l32.946,369.533l147.844,41.04L404.031,470.4l32.981-369.475H74.987z M368.289,188.62
    l-2.063,22.977l-0.906,10.188h-0.149H256h-0.158h-63.956l4.142,46.407h59.814H256h92.98h12.214l-1.106,12.172l-10.65,119.32
    l-0.682,7.652L256,433.045v0.008l-0.208,0.059l-92.839-25.774l-6.351-71.161h20.97h24.527l3.227,36.146l50.474,13.632l0.042-0.013
    v-0.004l50.551-13.64l5.257-58.781H256h-0.158H154.578L143.439,188.62l-1.085-12.157h113.488H256h113.374L368.289,188.62z"
        >
        </path>
      </g>
    </svg>
  </li>
  <li>
    <svg viewBox="0 0 862 441" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7.41 349.97C11.7167 346.55 13.68 344.967 13.3 345.22C25.7133 334.96 35.4667 326.537 42.56 319.95C49.78 313.363 55.86 306.46 60.8 299.24C65.74 292.02 68.21 284.99 68.21 278.15C68.21 272.957 67.0067 268.903 64.6 265.99C62.1933 263.077 58.5833 261.62 53.77 261.62C48.9567 261.62 45.1567 263.457 42.37 267.13C39.71 270.677 38.38 275.743 38.38 282.33H7.03C7.28333 271.563 9.56333 262.57 13.87 255.35C18.3033 248.13 24.0667 242.81 31.16 239.39C38.38 235.97 46.36 234.26 55.1 234.26C70.1733 234.26 81.51 238.123 89.11 245.85C96.8367 253.577 100.7 263.647 100.7 276.06C100.7 289.613 96.0767 302.217 86.83 313.87C77.5833 325.397 65.8033 336.67 51.49 347.69H102.79V374.1H7.41V349.97ZM117.095 304.75C117.095 282.963 121.275 265.8 129.635 253.26C138.122 240.72 151.738 234.45 170.485 234.45C189.232 234.45 202.785 240.72 211.145 253.26C219.632 265.8 223.875 282.963 223.875 304.75C223.875 326.79 219.632 344.08 211.145 356.62C202.785 369.16 189.232 375.43 170.485 375.43C151.738 375.43 138.122 369.16 129.635 356.62C121.275 344.08 117.095 326.79 117.095 304.75ZM191.955 304.75C191.955 291.957 190.562 282.14 187.775 275.3C184.988 268.333 179.225 264.85 170.485 264.85C161.745 264.85 155.982 268.333 153.195 275.3C150.408 282.14 149.015 291.957 149.015 304.75C149.015 313.363 149.522 320.52 150.535 326.22C151.548 331.793 153.575 336.353 156.615 339.9C159.782 343.32 164.405 345.03 170.485 345.03C176.565 345.03 181.125 343.32 184.165 339.9C187.332 336.353 189.422 331.793 190.435 326.22C191.448 320.52 191.955 313.363 191.955 304.75ZM239.9 349.97C244.207 346.55 246.17 344.967 245.79 345.22C258.204 334.96 267.957 326.537 275.05 319.95C282.27 313.363 288.35 306.46 293.29 299.24C298.23 292.02 300.7 284.99 300.7 278.15C300.7 272.957 299.497 268.903 297.09 265.99C294.684 263.077 291.074 261.62 286.26 261.62C281.447 261.62 277.647 263.457 274.86 267.13C272.2 270.677 270.87 275.743 270.87 282.33H239.52C239.774 271.563 242.054 262.57 246.36 255.35C250.794 248.13 256.557 242.81 263.65 239.39C270.87 235.97 278.85 234.26 287.59 234.26C302.664 234.26 314 238.123 321.6 245.85C329.327 253.577 333.19 263.647 333.19 276.06C333.19 289.613 328.567 302.217 319.32 313.87C310.074 325.397 298.294 336.67 283.98 347.69H335.28V374.1H239.9V349.97ZM350.345 351.3V325.08L410.385 239.2H446.675V323.18H462.255V351.3H446.675V376H414.185V351.3H350.345ZM416.465 274.92L384.545 323.18H416.465V274.92Z"
        fill="url(#paint0_linear_215_4)"></path>
      <path
        d="M6.27 142.12C6.27 128.947 9.12 117.23 14.82 106.97C20.52 96.5833 28.4367 88.54 38.57 82.84C48.83 77.0133 60.42 74.1 73.34 74.1C89.1733 74.1 102.727 78.28 114 86.64C125.273 95 132.81 106.4 136.61 120.84H100.89C98.23 115.267 94.43 111.023 89.49 108.11C84.6767 105.197 79.1667 103.74 72.96 103.74C62.9533 103.74 54.8467 107.223 48.64 114.19C42.4333 121.157 39.33 130.467 39.33 142.12C39.33 153.773 42.4333 163.083 48.64 170.05C54.8467 177.017 62.9533 180.5 72.96 180.5C79.1667 180.5 84.6767 179.043 89.49 176.13C94.43 173.217 98.23 168.973 100.89 163.4H136.61C132.81 177.84 125.273 189.24 114 197.6C102.727 205.833 89.1733 209.95 73.34 209.95C60.42 209.95 48.83 207.1 38.57 201.4C28.4367 195.573 20.52 187.53 14.82 177.27C9.12 167.01 6.27 155.293 6.27 142.12ZM204.767 210.52C194.38 210.52 185.007 208.303 176.647 203.87C168.413 199.437 161.89 193.103 157.077 184.87C152.39 176.637 150.047 167.01 150.047 155.99C150.047 145.097 152.453 135.533 157.267 127.3C162.08 118.94 168.667 112.543 177.027 108.11C185.387 103.677 194.76 101.46 205.147 101.46C215.533 101.46 224.907 103.677 233.267 108.11C241.627 112.543 248.213 118.94 253.027 127.3C257.84 135.533 260.247 145.097 260.247 155.99C260.247 166.883 257.777 176.51 252.837 184.87C248.023 193.103 241.373 199.437 232.887 203.87C224.527 208.303 215.153 210.52 204.767 210.52ZM204.767 182.4C210.973 182.4 216.23 180.12 220.537 175.56C224.97 171 227.187 164.477 227.187 155.99C227.187 147.503 225.033 140.98 220.727 136.42C216.547 131.86 211.353 129.58 205.147 129.58C198.813 129.58 193.557 131.86 189.377 136.42C185.197 140.853 183.107 147.377 183.107 155.99C183.107 164.477 185.133 171 189.187 175.56C193.367 180.12 198.56 182.4 204.767 182.4ZM271.023 155.8C271.023 144.907 273.05 135.343 277.103 127.11C281.283 118.877 286.92 112.543 294.013 108.11C301.106 103.677 309.023 101.46 317.763 101.46C324.73 101.46 331.063 102.917 336.763 105.83C342.59 108.743 347.15 112.67 350.443 117.61V68.4H382.933V209H350.443V193.8C347.403 198.867 343.033 202.92 337.333 205.96C331.76 209 325.236 210.52 317.763 210.52C309.023 210.52 301.106 208.303 294.013 203.87C286.92 199.31 281.283 192.913 277.103 184.68C273.05 176.32 271.023 166.693 271.023 155.8ZM350.443 155.99C350.443 147.883 348.163 141.487 343.603 136.8C339.17 132.113 333.723 129.77 327.263 129.77C320.803 129.77 315.293 132.113 310.733 136.8C306.3 141.36 304.083 147.693 304.083 155.8C304.083 163.907 306.3 170.367 310.733 175.18C315.293 179.867 320.803 182.21 327.263 182.21C333.723 182.21 339.17 179.867 343.603 175.18C348.163 170.493 350.443 164.097 350.443 155.99ZM506.378 154.28C506.378 157.32 506.188 160.487 505.808 163.78H432.278C432.785 170.367 434.875 175.433 438.548 178.98C442.348 182.4 446.972 184.11 452.418 184.11C460.525 184.11 466.162 180.69 469.328 173.85H503.908C502.135 180.817 498.905 187.087 494.218 192.66C489.658 198.233 483.895 202.603 476.928 205.77C469.962 208.937 462.172 210.52 453.558 210.52C443.172 210.52 433.925 208.303 425.818 203.87C417.712 199.437 411.378 193.103 406.818 184.87C402.258 176.637 399.978 167.01 399.978 155.99C399.978 144.97 402.195 135.343 406.628 127.11C411.188 118.877 417.522 112.543 425.628 108.11C433.735 103.677 443.045 101.46 453.558 101.46C463.818 101.46 472.938 103.613 480.918 107.92C488.898 112.227 495.105 118.37 499.538 126.35C504.098 134.33 506.378 143.64 506.378 154.28ZM473.128 145.73C473.128 140.157 471.228 135.723 467.428 132.43C463.628 129.137 458.878 127.49 453.178 127.49C447.732 127.49 443.108 129.073 439.308 132.24C435.635 135.407 433.355 139.903 432.468 145.73H473.128ZM586.598 210.33C574.058 210.33 562.532 207.417 552.018 201.59C541.632 195.763 533.335 187.657 527.128 177.27C521.048 166.757 518.008 154.977 518.008 141.93C518.008 128.883 521.048 117.167 527.128 106.78C533.335 96.3933 541.632 88.2867 552.018 82.46C562.532 76.6333 574.058 73.72 586.598 73.72C599.138 73.72 610.602 76.6333 620.988 82.46C631.502 88.2867 639.735 96.3933 645.688 106.78C651.768 117.167 654.808 128.883 654.808 141.93C654.808 154.977 651.768 166.757 645.688 177.27C639.608 187.657 631.375 195.763 620.988 201.59C610.602 207.417 599.138 210.33 586.598 210.33ZM586.598 180.69C597.238 180.69 605.725 177.143 612.058 170.05C618.518 162.957 621.748 153.583 621.748 141.93C621.748 130.15 618.518 120.777 612.058 113.81C605.725 106.717 597.238 103.17 586.598 103.17C575.832 103.17 567.218 106.653 560.758 113.62C554.425 120.587 551.258 130.023 551.258 141.93C551.258 153.71 554.425 163.147 560.758 170.24C567.218 177.207 575.832 180.69 586.598 180.69ZM737.484 101.84C749.897 101.84 759.777 105.893 767.124 114C774.597 121.98 778.334 133 778.334 147.06V209H746.034V151.43C746.034 144.337 744.197 138.827 740.524 134.9C736.85 130.973 731.91 129.01 725.704 129.01C719.497 129.01 714.557 130.973 710.884 134.9C707.21 138.827 705.374 144.337 705.374 151.43V209H672.884V102.98H705.374V117.04C708.667 112.353 713.1 108.68 718.674 106.02C724.247 103.233 730.517 101.84 737.484 101.84Z"
        fill="url(#paint1_linear_215_4)"></path>
      <defs>
        <linearGradient
          id="paint0_linear_215_4"
          x1="-1.46702e-07"
          y1="231.317"
          x2="474.403"
          y2="254.756"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFA800"></stop>
          <stop offset="0.397399" stop-color="#FF7A00"></stop>
          <stop offset="0.686812" stop-color="#E16C01"></stop>
          <stop offset="1" stop-color="#F97700"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_215_4"
          x1="-2.69057e-07"
          y1="124.95"
          x2="870.306"
          y2="165.544"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFA800"></stop>
          <stop offset="0.397399" stop-color="#FF7A00"></stop>
          <stop offset="0.686812" stop-color="#E16C01"></stop>
          <stop offset="1" stop-color="#F97700"></stop>
        </linearGradient>
      </defs>
    </svg>
  </li>
  <li>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 512 512"
      enable-background="new 0 0 512 512"
      xml:space="preserve"
    >
      <g id="c133de6af664cd4f011a55de6b001a2b">
        <path
          display="inline"
          d="M204.064,46.682v22.018h-56.302V0.501h56.302v24.13h-32.172v22.051H204.064z M261.941,24.631h22.492
    V0.501h-56.308c0,0,0,12.112,0,24.13c7.533,7.533,11.461,11.139,22.356,22.034c-6.369,0-22.356,0.022-22.356,0.021v22.014h56.308
    V46.682L261.941,24.631z M341.746,24.631h22.49V0.501H307.93c0,0,0,12.112,0,24.13c7.531,7.533,11.461,11.139,22.355,22.034
    c-6.365,0-22.355,0.022-22.355,0.021v22.014h56.307V46.682L341.746,24.631z M438.395,101.112l-34.203,370.486l-148.193,39.9
    l-148.196-39.9L73.605,101.112H438.395z M369.477,176.444H255.865h-115.62l5.529,44.739h110.091h6.184l-6.184,2.574
    l-106.067,44.177l3.518,43.73l102.549,0.333l54.963,0.175l-3.521,58.311l-51.442,14.484v-0.046l-0.422,0.116l-49.684-12.542
    l-3.015-36.195h-0.164h-46.085h-0.162l6.032,69.876l93.5,27.649v-0.05l0.168,0.05l93-27.146L361.1,267.935H255.865h-0.26
    l0.26-0.112l109.086-46.639L369.477,176.444z"
        >
        </path>
      </g>
    </svg>
  </li>
  <li>
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
      ><path
        d="m12.248 6.685c-.656 2.694-.614 2.55-1.209 5.014-.013.227-.201.406-.43.406-.025 0-.05-.002-.074-.006h.003-.675c-.02.004-.044.006-.067.006-.203 0-.37-.151-.396-.346v-.002c-.577-1.846-1.35-4.41-1.87-6.125-.192-.633-.066-.618.436-.605.174.005.342 0 .515 0 .012-.001.026-.002.041-.002.196 0 .358.145.385.333v.002c.169.605.281 1.069 1.246 4.88.018.075.042.146.066.215h.051c.023-.094.051-.182.075-.277q.548-2.313 1.092-4.63c.113-.48.314-.525.8-.525h.356c.32.005.422.07.502.389.281 1.097 1.102 4.77 1.251 5.174.24-.858-.084.37 1.336-5.108.098-.379.192-.454.577-.454h.591c.253.005.328.084.267.333-.113.446-.136.464-1.935 6.228-.146.464-.197.506-.684.506h-.497c-.342 0-.431-.061-.515-.394-.202-.759-1.092-4.485-1.238-5.01zm-6.364 5.211c.068.139.208.233.37.233.114 0 .216-.046.291-.121l.295-.197c.32-.211.342-.295.169-.633-.186-.354-.296-.773-.296-1.218 0-.015 0-.03 0-.045v.002c0-.146.028-2.61-.042-3.13-.062-.87-.665-1.584-1.471-1.811l-.014-.003c-.353-.098-.758-.154-1.177-.154-.126 0-.252.005-.375.015l.016-.001c-.736.029-1.42.224-2.025.547l.025-.012c-.091.049-.159.13-.191.227l-.001.003c-.026.118-.041.254-.041.393 0 .061.003.122.008.182l-.001-.008c.028.277.122.328.384.24.24-.08.469-.182.708-.253.345-.128.743-.202 1.159-.202.323 0 .635.045.931.128l-.024-.006c.317.095.564.334.668.639l.002.007c.077.258.122.554.122.861 0 .094-.004.188-.012.28l.001-.012c0 .258-.005.258-.258.211-.43-.107-.923-.169-1.431-.169-.187 0-.373.008-.556.025l.024-.002c-.726.053-1.36.406-1.787.933l-.004.005c-.26.36-.416.811-.416 1.298 0 .197.025.387.073.569l-.003-.016c.104.682.588 1.228 1.225 1.422l.012.003c.28.1.603.158.94.158.667 0 1.282-.227 1.77-.608l-.006.005c.178-.131.338-.29.52-.446.146.234.272.454.417.656zm-.72-2.887h.005c.111 0 .201.09.201.201 0 .014-.001.027-.004.041v-.001c-.01.178.005.356-.014.534-.05.523-.377.959-.83 1.164l-.009.004c-.294.154-.641.245-1.01.245-.075 0-.149-.004-.222-.011l.009.001c-.529-.031-.946-.467-.946-1.001 0-.082.01-.162.029-.239l-.001.007c.026-.548.46-.987 1.004-1.021h.003c.21-.034.452-.053.698-.053.388 0 .766.048 1.126.138l-.032-.007zm16.346 3.051c.825-.277 1.408-1.043 1.408-1.945 0-.141-.014-.279-.041-.412l.002.013c-.107-.653-.564-1.177-1.169-1.379l-.012-.004c-.912-.286-1.659-.575-2.383-.905l.129.053c-.209-.105-.351-.315-.356-.559v-.001c-.006-.037-.009-.079-.009-.122 0-.419.318-.763.726-.805h.003c.211-.05.453-.078.702-.078.217 0 .43.022.635.063l-.02-.003c.342.066.67.197 1.003.295.131.042.277.098.366-.075.046-.097.073-.211.073-.33 0-.298-.166-.557-.411-.689l-.004-.002c-.494-.236-1.074-.373-1.686-.373-.546 0-1.066.11-1.54.308l.026-.01c-.725.288-1.228.984-1.228 1.797 0 .779.462 1.451 1.127 1.755l.012.005c.361.174.754.277 1.134.417s.759.272 1.13.426c.256.142.427.411.427.72 0 .286-.146.537-.368.684l-.003.002c-1.298.72-3.04-.113-3.243-.178-.154-.051-.248.01-.295.174-.038.089-.06.193-.06.302 0 .369.255.679.599.761l.005.001c.531.213 1.146.336 1.79.336.546 0 1.072-.089 1.563-.253l-.035.01zm-7.634 7.625c2.498-.268 4.766-1.052 6.763-2.244l-.076.042c.375-.22.726-.48 1.082-.736.342-.24.15-.862-.53-.572-2.344 1.029-5.066 1.687-7.925 1.821l-.051.002c-.3.015-.651.023-1.004.023-1.152 0-2.284-.088-3.389-.258l.123.016c-3.117-.449-5.924-1.458-8.429-2.927l.109.059c-.088-.059-.189-.107-.297-.139l-.008-.002c-.23-.051-.361.22-.113.454 3.069 2.838 7.189 4.578 11.716 4.578h.014-.001c.675-.038 1.35-.042 2.015-.117zm8.187-4.32c.694.038.909.277.736.946-.178.694-.436 1.369-.651 2.053-.042.136-.197.295-.038.413.174.122.305-.047.422-.154.455-.433.813-.962 1.044-1.555l.01-.029c.258-.564.408-1.224.408-1.919 0-.016 0-.031 0-.047v.002c-.01-.29-.084-.413-.366-.492-.224-.069-.487-.122-.757-.148l-.016-.001c-.183-.023-.394-.036-.609-.036-.836 0-1.626.197-2.327.546l.03-.014c-.155.084-.289.176-.412.28l.004-.003c-.051.042-.15.248.113.286.024.002.053.003.081.003.069 0 .137-.006.202-.018l-.007.001c.526-.075 1.134-.118 1.751-.118.134 0 .267.002.4.006h-.019z"
      ></path></svg
    >
  </li>
  <li>
    <svg viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <title>mysql</title>
      <path
        d="M30.026 15.139c-0.082-0.006-0.177-0.010-0.273-0.010-0.484 0-0.947 0.090-1.373 0.254l0.026-0.009c-0.125 0.050-0.325 0.050-0.342 0.209 0.069 0.066 0.079 0.175 0.137 0.267 0.117 0.198 0.261 0.366 0.429 0.506l0.003 0.003c0.175 0.137 0.35 0.27 0.534 0.387 0.325 0.2 0.694 0.319 1.012 0.52 0.181 0.117 0.366 0.266 0.55 0.391 0.091 0.062 0.15 0.175 0.267 0.215v-0.025c-0.057-0.075-0.075-0.184-0.131-0.267-0.084-0.084-0.167-0.159-0.25-0.241-0.248-0.325-0.535-0.603-0.857-0.835l-0.012-0.008c-0.267-0.182-0.852-0.437-0.962-0.744l-0.016-0.018c0.218-0.031 0.412-0.077 0.599-0.139l-0.024 0.007c0.284-0.075 0.544-0.059 0.837-0.132 0.132-0.034 0.266-0.075 0.4-0.117v-0.075c-0.15-0.15-0.262-0.354-0.417-0.494-0.409-0.36-0.86-0.698-1.335-1.002l-0.045-0.027c-0.262-0.167-0.595-0.275-0.871-0.417-0.1-0.050-0.267-0.075-0.325-0.159-0.13-0.185-0.245-0.397-0.336-0.621l-0.008-0.022q-0.368-0.714-0.684-1.453c-0.144-0.383-0.287-0.697-0.448-1.001l0.023 0.047c-0.786-1.319-1.881-2.379-3.188-3.102l-0.043-0.022c-0.309-0.153-0.668-0.272-1.045-0.339l-0.025-0.004c-0.209-0.010-0.417-0.025-0.625-0.034-0.146-0.094-0.272-0.19-0.39-0.296l0.003 0.003c-0.475-0.3-1.704-0.95-2.054-0.090-0.225 0.542 0.334 1.077 0.527 1.352 0.154 0.183 0.294 0.388 0.415 0.605l0.010 0.020c0.059 0.145 0.075 0.294 0.134 0.445 0.145 0.452 0.292 0.823 0.459 1.182l-0.026-0.062c0.099 0.199 0.202 0.368 0.317 0.528l-0.008-0.012c0.067 0.091 0.182 0.134 0.209 0.284-0.086 0.181-0.153 0.391-0.19 0.61l-0.002 0.014c-0.108 0.332-0.171 0.715-0.171 1.112 0 0.621 0.153 1.206 0.423 1.72l-0.010-0.020c0.134 0.207 0.452 0.667 0.878 0.491 0.375-0.15 0.292-0.625 0.4-1.043 0.025-0.1 0.009-0.166 0.060-0.234v0.019c0.117 0.235 0.235 0.459 0.342 0.694 0.302 0.435 0.661 0.805 1.071 1.11l0.013 0.009c0.2 0.15 0.359 0.41 0.609 0.502v-0.025h-0.019c-0.057-0.062-0.12-0.117-0.189-0.164l-0.004-0.002c-0.155-0.152-0.299-0.316-0.429-0.489l-0.008-0.011c-0.326-0.44-0.636-0.938-0.905-1.461l-0.029-0.061c-0.137-0.262-0.252-0.545-0.362-0.804-0.050-0.1-0.050-0.25-0.134-0.3-0.148 0.166-0.281 0.351-0.392 0.55l-0.008 0.016c-0.128 0.373-0.212 0.804-0.234 1.251l-0 0.011c-0.034 0.009-0.017 0-0.034 0.018-0.267-0.065-0.359-0.342-0.459-0.575-0.136-0.366-0.215-0.79-0.215-1.231 0-0.356 0.051-0.7 0.147-1.025l-0.006 0.026c0.059-0.175 0.309-0.727 0.209-0.895-0.052-0.159-0.217-0.25-0.309-0.379-0.109-0.154-0.209-0.329-0.292-0.514l-0.008-0.020c-0.2-0.467-0.3-0.985-0.517-1.452-0.131-0.244-0.269-0.454-0.424-0.65l0.007 0.009c-0.165-0.191-0.317-0.404-0.449-0.63l-0.011-0.020c-0.041-0.091-0.1-0.242-0.034-0.342 0.012-0.058 0.058-0.103 0.117-0.112l0.001-0c0.11-0.090 0.419 0.027 0.527 0.077 0.317 0.12 0.59 0.261 0.843 0.427l-0.016-0.010c0.117 0.082 0.244 0.241 0.394 0.282h0.175c0.267 0.059 0.569 0.018 0.819 0.091 0.459 0.155 0.856 0.349 1.223 0.587l-0.021-0.013c1.104 0.713 1.988 1.677 2.586 2.816l0.020 0.041c0.1 0.192 0.144 0.369 0.235 0.569 0.175 0.412 0.391 0.829 0.569 1.227 0.169 0.428 0.369 0.798 0.607 1.139l-0.012-0.018c0.125 0.175 0.627 0.266 0.852 0.357 0.237 0.083 0.427 0.162 0.611 0.251l-0.037-0.016c0.287 0.175 0.567 0.375 0.837 0.567 0.137 0.095 0.554 0.304 0.579 0.472zM18.302 22.452c0 0.015 0.001 0.032 0.001 0.049 0 0.558-0.249 1.057-0.643 1.393l-0.003 0.002c-0.432 0.352-0.989 0.566-1.596 0.566-0.047 0-0.094-0.001-0.14-0.004l0.006 0c-0.739-0.010-1.419-0.25-1.976-0.651l0.010 0.007 0.296-0.595c0.429 0.24 0.939 0.389 1.481 0.41l0.006 0c0.027 0.002 0.058 0.003 0.090 0.003 0.332 0 0.641-0.104 0.894-0.281l-0.005 0.003c0.229-0.174 0.375-0.446 0.375-0.752 0-0.006-0-0.011-0-0.017v0.001c0-0.412-0.287-0.762-0.81-1.056-0.485-0.266-1.453-0.821-1.453-0.821-0.478-0.296-0.791-0.817-0.791-1.411 0-0.021 0-0.042 0.001-0.063l-0 0.003c-0.001-0.019-0.001-0.041-0.001-0.063 0-0.515 0.227-0.977 0.586-1.291l0.002-0.002c0.382-0.324 0.881-0.521 1.426-0.521 0.035 0 0.069 0.001 0.103 0.002l-0.005-0c0.009-0 0.020-0 0.031-0 0.639 0 1.234 0.191 1.73 0.52l-0.012-0.007-0.266 0.595c-0.391-0.176-0.847-0.282-1.327-0.287l-0.002-0c-0.024-0.002-0.051-0.003-0.079-0.003-0.28 0-0.538 0.098-0.74 0.262l0.002-0.002c-0.189 0.157-0.309 0.392-0.31 0.655v0c0 0.41 0.292 0.762 0.832 1.062 0.491 0.269 1.483 0.837 1.483 0.837 0.488 0.287 0.811 0.809 0.811 1.407 0 0.018-0 0.037-0.001 0.055l0-0.003zM20.374 22.983c-0.273-0.545-0.432-1.187-0.432-1.866 0-0.107 0.004-0.213 0.012-0.317l-0.001 0.014q0-2.611 1.587-2.612c0.026-0.002 0.057-0.003 0.089-0.003 0.475 0 0.892 0.248 1.129 0.622l0.003 0.005c0.271 0.542 0.43 1.182 0.43 1.858 0 0.104-0.004 0.207-0.011 0.309l0.001-0.014q0 2.632-1.587 2.634c-0.027 0.002-0.058 0.003-0.089 0.003-0.475 0-0.893-0.248-1.13-0.622l-0.003-0.005zM24.488 24.535l-1.27-0.625c0.116-0.097 0.22-0.199 0.316-0.309l0.003-0.003c0.513-0.692 0.821-1.563 0.821-2.505 0-0.109-0.004-0.217-0.012-0.324l0.001 0.014q0-3.43-2.693-3.432c-0.040-0.002-0.087-0.003-0.134-0.003-0.767 0-1.456 0.337-1.925 0.872l-0.002 0.003c-0.511 0.692-0.818 1.562-0.818 2.504 0 0.106 0.004 0.211 0.012 0.315l-0.001-0.014c-0.009 0.101-0.014 0.219-0.014 0.338 0 0.874 0.274 1.684 0.74 2.349l-0.009-0.013c0.449 0.478 1.086 0.776 1.791 0.776 0.066 0 0.131-0.003 0.195-0.008l-0.009 0.001c0.009 0 0.021 0 0.032 0 0.311 0 0.612-0.045 0.897-0.128l-0.022 0.006 1.656 0.965 0.45-0.777zM28.636 24.366h-3.287v-6.91h1.106v6.061h2.181zM13.235 19.268c-0.287 2.084-0.944 3.965-1.905 5.65l0.040-0.077c-0.385 0.741-1.113 1.257-1.968 1.34l-0.010 0.001c-0.259-0.014-0.5-0.076-0.719-0.177l0.012 0.005v-0.617c0.137 0.021 0.295 0.033 0.456 0.033 0.009 0 0.018-0 0.028-0h-0.001c0.016 0.001 0.034 0.001 0.052 0.001 0.289 0 0.554-0.105 0.758-0.28l-0.002 0.001c0.22-0.181 0.361-0.451 0.369-0.755l0-0.001c-0.053-0.438-0.154-0.837-0.299-1.214l0.012 0.034-1.267-3.944h1.137l0.909 2.949c0.162 0.416 0.256 0.898 0.256 1.401 0 0.001 0 0.002 0 0.002v-0c0.482-1.262 0.848-2.734 1.034-4.261l0.009-0.092zM8.215 24.366h-1.158q-0.049-2.761-0.337-5.511h-0.010l-1.762 5.511h-0.881l-1.75-5.511h-0.012q-0.205 2.751-0.244 5.511h-1.056q0.103-3.685 0.512-6.911h1.437l1.668 5.079h0.010l1.683-5.079h1.368q0.454 3.777 0.535 6.911zM21.505 7.879c-0.002 0-0.005-0-0.008-0-0.119 0-0.234 0.015-0.344 0.043l0.010-0.002v0.016h0.017c0.086 0.128 0.174 0.239 0.269 0.343l-0.002-0.002c0.067 0.134 0.125 0.267 0.192 0.4l0.017-0.019c0.109-0.086 0.178-0.218 0.178-0.366 0-0.018-0.001-0.035-0.003-0.053l0 0.002c-0.050-0.059-0.057-0.117-0.1-0.175-0.050-0.084-0.157-0.125-0.225-0.191z"
      ></path>
    </svg>
  </li>
  <li>
    <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="-146 129 218 256"
      xml:space="preserve"
    >
      <g>
        <path
          d="M-2.9,150.4l2.8-4.2l2.8-4.1l6.2-9.3c0.8-1.1,0.5-2.7-0.7-3.4c-1.1-0.8-2.7-0.5-3.4,0.7l-6.6,9.9l-2.8,4.2l-2.8,4.2
     c-9-3.5-18.9-5.4-29.5-5.4c-10.5,0-20.5,1.9-29.5,5.4l-2.8-4.2L-72,140l-6.6-9.9c-0.8-1.1-2.3-1.4-3.4-0.7
     c-1.1,0.8-1.4,2.3-0.7,3.4l6.2,9.3l2.8,4.1l2.8,4.2c-21,9.8-35.3,28.3-35.3,49.6H32.5C32.4,178.7,18.2,160.2-2.9,150.4z
      M-66.7,180.1c-4.1,0-7.4-3.3-7.4-7.4c0-4.1,3.3-7.4,7.4-7.4c4.1,0,7.4,3.3,7.4,7.4S-62.6,180.1-66.7,180.1z M-7.3,180.1
     c-4.1,0-7.4-3.3-7.4-7.4c0-4.1,3.3-7.4,7.4-7.4c4.1,0,7.4,3.3,7.4,7.4C0.2,176.8-3.1,180.1-7.3,180.1z"
        ></path>
        <path
          d="M-105.3,209.8l-1.1,0.1v12.3v10.1v86.6c0,8.7,7,15.7,15.7,15.7h11.3c-0.4,1.3-0.6,2.7-0.6,4.1v0.8v5v25.6
     c0,8.2,6.7,14.9,14.9,14.9s14.9-6.7,14.9-14.9v-25.6v-5v-0.8c0-1.4-0.2-2.8-0.6-4.1h27.6c-0.4,1.3-0.6,2.7-0.6,4.1v0.8v5v25.6
     c0,8.2,6.7,14.9,14.9,14.9c8.2,0,14.9-6.7,14.9-14.9v-25.6v-5v-0.8c0-1.4-0.2-2.8-0.6-4.1h11.3c8.7,0,15.7-7,15.7-15.7v-86.6v-10.1
     v-12.4h-1.1H-105.3z"
        ></path>
        <path
          d="M-131.1,209.9c-8.2,0-14.9,6.7-14.9,14.9v63.6c0,8.2,6.7,14.9,14.9,14.9c8.2,0,14.9-6.7,14.9-14.9v-63.6
     C-116.3,216.5-122.9,209.9-131.1,209.9z"
        ></path>
        <path
          d="M57.2,209.9c-8.2,0-14.9,6.7-14.9,14.9v63.6c0,8.2,6.7,14.9,14.9,14.9s14.9-6.7,14.9-14.9v-63.6
     C72,216.5,65.4,209.9,57.2,209.9z"
        ></path>
      </g>
    </svg>
  </li>
  <li>
    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.734 32l15.068-15.333 15.198 15.333zM0 0h16l-16 16.667zM17.865 0l-17.865 18.667v13.333l32-32z"
      ></path>
    </svg>
  </li>
  <li>
    <svg viewBox="0 0 862 441" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7.41 349.97C11.7167 346.55 13.68 344.967 13.3 345.22C25.7133 334.96 35.4667 326.537 42.56 319.95C49.78 313.363 55.86 306.46 60.8 299.24C65.74 292.02 68.21 284.99 68.21 278.15C68.21 272.957 67.0067 268.903 64.6 265.99C62.1933 263.077 58.5833 261.62 53.77 261.62C48.9567 261.62 45.1567 263.457 42.37 267.13C39.71 270.677 38.38 275.743 38.38 282.33H7.03C7.28333 271.563 9.56333 262.57 13.87 255.35C18.3033 248.13 24.0667 242.81 31.16 239.39C38.38 235.97 46.36 234.26 55.1 234.26C70.1733 234.26 81.51 238.123 89.11 245.85C96.8367 253.577 100.7 263.647 100.7 276.06C100.7 289.613 96.0767 302.217 86.83 313.87C77.5833 325.397 65.8033 336.67 51.49 347.69H102.79V374.1H7.41V349.97ZM117.095 304.75C117.095 282.963 121.275 265.8 129.635 253.26C138.122 240.72 151.738 234.45 170.485 234.45C189.232 234.45 202.785 240.72 211.145 253.26C219.632 265.8 223.875 282.963 223.875 304.75C223.875 326.79 219.632 344.08 211.145 356.62C202.785 369.16 189.232 375.43 170.485 375.43C151.738 375.43 138.122 369.16 129.635 356.62C121.275 344.08 117.095 326.79 117.095 304.75ZM191.955 304.75C191.955 291.957 190.562 282.14 187.775 275.3C184.988 268.333 179.225 264.85 170.485 264.85C161.745 264.85 155.982 268.333 153.195 275.3C150.408 282.14 149.015 291.957 149.015 304.75C149.015 313.363 149.522 320.52 150.535 326.22C151.548 331.793 153.575 336.353 156.615 339.9C159.782 343.32 164.405 345.03 170.485 345.03C176.565 345.03 181.125 343.32 184.165 339.9C187.332 336.353 189.422 331.793 190.435 326.22C191.448 320.52 191.955 313.363 191.955 304.75ZM239.9 349.97C244.207 346.55 246.17 344.967 245.79 345.22C258.204 334.96 267.957 326.537 275.05 319.95C282.27 313.363 288.35 306.46 293.29 299.24C298.23 292.02 300.7 284.99 300.7 278.15C300.7 272.957 299.497 268.903 297.09 265.99C294.684 263.077 291.074 261.62 286.26 261.62C281.447 261.62 277.647 263.457 274.86 267.13C272.2 270.677 270.87 275.743 270.87 282.33H239.52C239.774 271.563 242.054 262.57 246.36 255.35C250.794 248.13 256.557 242.81 263.65 239.39C270.87 235.97 278.85 234.26 287.59 234.26C302.664 234.26 314 238.123 321.6 245.85C329.327 253.577 333.19 263.647 333.19 276.06C333.19 289.613 328.567 302.217 319.32 313.87C310.074 325.397 298.294 336.67 283.98 347.69H335.28V374.1H239.9V349.97ZM350.345 351.3V325.08L410.385 239.2H446.675V323.18H462.255V351.3H446.675V376H414.185V351.3H350.345ZM416.465 274.92L384.545 323.18H416.465V274.92Z"
        fill="url(#paint0_linear_215_4)"></path>
      <path
        d="M6.27 142.12C6.27 128.947 9.12 117.23 14.82 106.97C20.52 96.5833 28.4367 88.54 38.57 82.84C48.83 77.0133 60.42 74.1 73.34 74.1C89.1733 74.1 102.727 78.28 114 86.64C125.273 95 132.81 106.4 136.61 120.84H100.89C98.23 115.267 94.43 111.023 89.49 108.11C84.6767 105.197 79.1667 103.74 72.96 103.74C62.9533 103.74 54.8467 107.223 48.64 114.19C42.4333 121.157 39.33 130.467 39.33 142.12C39.33 153.773 42.4333 163.083 48.64 170.05C54.8467 177.017 62.9533 180.5 72.96 180.5C79.1667 180.5 84.6767 179.043 89.49 176.13C94.43 173.217 98.23 168.973 100.89 163.4H136.61C132.81 177.84 125.273 189.24 114 197.6C102.727 205.833 89.1733 209.95 73.34 209.95C60.42 209.95 48.83 207.1 38.57 201.4C28.4367 195.573 20.52 187.53 14.82 177.27C9.12 167.01 6.27 155.293 6.27 142.12ZM204.767 210.52C194.38 210.52 185.007 208.303 176.647 203.87C168.413 199.437 161.89 193.103 157.077 184.87C152.39 176.637 150.047 167.01 150.047 155.99C150.047 145.097 152.453 135.533 157.267 127.3C162.08 118.94 168.667 112.543 177.027 108.11C185.387 103.677 194.76 101.46 205.147 101.46C215.533 101.46 224.907 103.677 233.267 108.11C241.627 112.543 248.213 118.94 253.027 127.3C257.84 135.533 260.247 145.097 260.247 155.99C260.247 166.883 257.777 176.51 252.837 184.87C248.023 193.103 241.373 199.437 232.887 203.87C224.527 208.303 215.153 210.52 204.767 210.52ZM204.767 182.4C210.973 182.4 216.23 180.12 220.537 175.56C224.97 171 227.187 164.477 227.187 155.99C227.187 147.503 225.033 140.98 220.727 136.42C216.547 131.86 211.353 129.58 205.147 129.58C198.813 129.58 193.557 131.86 189.377 136.42C185.197 140.853 183.107 147.377 183.107 155.99C183.107 164.477 185.133 171 189.187 175.56C193.367 180.12 198.56 182.4 204.767 182.4ZM271.023 155.8C271.023 144.907 273.05 135.343 277.103 127.11C281.283 118.877 286.92 112.543 294.013 108.11C301.106 103.677 309.023 101.46 317.763 101.46C324.73 101.46 331.063 102.917 336.763 105.83C342.59 108.743 347.15 112.67 350.443 117.61V68.4H382.933V209H350.443V193.8C347.403 198.867 343.033 202.92 337.333 205.96C331.76 209 325.236 210.52 317.763 210.52C309.023 210.52 301.106 208.303 294.013 203.87C286.92 199.31 281.283 192.913 277.103 184.68C273.05 176.32 271.023 166.693 271.023 155.8ZM350.443 155.99C350.443 147.883 348.163 141.487 343.603 136.8C339.17 132.113 333.723 129.77 327.263 129.77C320.803 129.77 315.293 132.113 310.733 136.8C306.3 141.36 304.083 147.693 304.083 155.8C304.083 163.907 306.3 170.367 310.733 175.18C315.293 179.867 320.803 182.21 327.263 182.21C333.723 182.21 339.17 179.867 343.603 175.18C348.163 170.493 350.443 164.097 350.443 155.99ZM506.378 154.28C506.378 157.32 506.188 160.487 505.808 163.78H432.278C432.785 170.367 434.875 175.433 438.548 178.98C442.348 182.4 446.972 184.11 452.418 184.11C460.525 184.11 466.162 180.69 469.328 173.85H503.908C502.135 180.817 498.905 187.087 494.218 192.66C489.658 198.233 483.895 202.603 476.928 205.77C469.962 208.937 462.172 210.52 453.558 210.52C443.172 210.52 433.925 208.303 425.818 203.87C417.712 199.437 411.378 193.103 406.818 184.87C402.258 176.637 399.978 167.01 399.978 155.99C399.978 144.97 402.195 135.343 406.628 127.11C411.188 118.877 417.522 112.543 425.628 108.11C433.735 103.677 443.045 101.46 453.558 101.46C463.818 101.46 472.938 103.613 480.918 107.92C488.898 112.227 495.105 118.37 499.538 126.35C504.098 134.33 506.378 143.64 506.378 154.28ZM473.128 145.73C473.128 140.157 471.228 135.723 467.428 132.43C463.628 129.137 458.878 127.49 453.178 127.49C447.732 127.49 443.108 129.073 439.308 132.24C435.635 135.407 433.355 139.903 432.468 145.73H473.128ZM586.598 210.33C574.058 210.33 562.532 207.417 552.018 201.59C541.632 195.763 533.335 187.657 527.128 177.27C521.048 166.757 518.008 154.977 518.008 141.93C518.008 128.883 521.048 117.167 527.128 106.78C533.335 96.3933 541.632 88.2867 552.018 82.46C562.532 76.6333 574.058 73.72 586.598 73.72C599.138 73.72 610.602 76.6333 620.988 82.46C631.502 88.2867 639.735 96.3933 645.688 106.78C651.768 117.167 654.808 128.883 654.808 141.93C654.808 154.977 651.768 166.757 645.688 177.27C639.608 187.657 631.375 195.763 620.988 201.59C610.602 207.417 599.138 210.33 586.598 210.33ZM586.598 180.69C597.238 180.69 605.725 177.143 612.058 170.05C618.518 162.957 621.748 153.583 621.748 141.93C621.748 130.15 618.518 120.777 612.058 113.81C605.725 106.717 597.238 103.17 586.598 103.17C575.832 103.17 567.218 106.653 560.758 113.62C554.425 120.587 551.258 130.023 551.258 141.93C551.258 153.71 554.425 163.147 560.758 170.24C567.218 177.207 575.832 180.69 586.598 180.69ZM737.484 101.84C749.897 101.84 759.777 105.893 767.124 114C774.597 121.98 778.334 133 778.334 147.06V209H746.034V151.43C746.034 144.337 744.197 138.827 740.524 134.9C736.85 130.973 731.91 129.01 725.704 129.01C719.497 129.01 714.557 130.973 710.884 134.9C707.21 138.827 705.374 144.337 705.374 151.43V209H672.884V102.98H705.374V117.04C708.667 112.353 713.1 108.68 718.674 106.02C724.247 103.233 730.517 101.84 737.484 101.84Z"
        fill="url(#paint1_linear_215_4)"></path>
      <defs>
        <linearGradient
          id="paint0_linear_215_4"
          x1="-1.46702e-07"
          y1="231.317"
          x2="474.403"
          y2="254.756"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFA800"></stop>
          <stop offset="0.397399" stop-color="#FF7A00"></stop>
          <stop offset="0.686812" stop-color="#E16C01"></stop>
          <stop offset="1" stop-color="#F97700"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_215_4"
          x1="-2.69057e-07"
          y1="124.95"
          x2="870.306"
          y2="165.544"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFA800"></stop>
          <stop offset="0.397399" stop-color="#FF7A00"></stop>
          <stop offset="0.686812" stop-color="#E16C01"></stop>
          <stop offset="1" stop-color="#F97700"></stop>
        </linearGradient>
      </defs>
    </svg>
  </li>
  <li>
    <svg
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>github</title>
      <rect width="24" height="24" fill="none"></rect>
      <path
        d="M12,2A10,10,0,0,0,8.84,21.5c.5.08.66-.23.66-.5V19.31C6.73,19.91,6.14,18,6.14,18A2.69,2.69,0,0,0,5,16.5c-.91-.62.07-.6.07-.6a2.1,2.1,0,0,1,1.53,1,2.15,2.15,0,0,0,2.91.83,2.16,2.16,0,0,1,.63-1.34C8,16.17,5.62,15.31,5.62,11.5a3.87,3.87,0,0,1,1-2.71,3.58,3.58,0,0,1,.1-2.64s.84-.27,2.75,1a9.63,9.63,0,0,1,5,0c1.91-1.29,2.75-1,2.75-1a3.58,3.58,0,0,1,.1,2.64,3.87,3.87,0,0,1,1,2.71c0,3.82-2.34,4.66-4.57,4.91a2.39,2.39,0,0,1,.69,1.85V21c0,.27.16.59.67.5A10,10,0,0,0,12,2Z"
      ></path>
    </svg>
  </li>
</ul>

<style>
  .technologies {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .technologies li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    fill: #273551;
    animation: animate 25s linear infinite;
    bottom: -150px;
  }

  .technologies li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }

  .technologies li:nth-child(2) {
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .technologies li:nth-child(3) {
    left: 70%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
  }

  .technologies li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  .technologies li:nth-child(5) {
    left: 65%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
  }

  .technologies li:nth-child(6) {
    left: 75%;
    width: 100px;
    height: 100px;
    animation-delay: 3s;
  }

  .technologies li:nth-child(7) {
    left: 35%;
    width: 120px;
    height: 120px;
    animation-delay: 7s;
  }

  .technologies li:nth-child(8) {
    left: 50%;
    width: 60px;
    height: 60px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  .technologies li:nth-child(9) {
    left: 20%;
    width: 95px;
    height: 95px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  .technologies li:nth-child(10) {
    left: 85%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  .technologies li:nth-child(11) {
    left: 86%;
    width: 120px;
    height: 120px;
    animation-delay: 7s;
  }

  .technologies li:nth-child(12) {
    left: 68%;
    width: 84px;
    height: 84px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .technologies li:nth-child(13) {
    left: 16%;
    width: 84px;
    height: 84px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .technologies li:nth-child(14) {
    left: 92%;
    width: 84px;
    height: 84px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .technologies li:nth-child(15) {
    left: 52%;
    width: 84px;
    height: 84px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .technologies li:nth-child(15) {
    left: 66%;
    width: 160px;
    height: 160px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }

    100% {
      transform: translateY(-1000px) rotate(220deg);
      opacity: 0;
      border-radius: 50%;
    }
  }
</style>
