---
import SponsorsSlide from "../components/SponsorsSlide.astro";
---

<section>
  <h2>Comunidades aliandas</h2>
  <SponsorsSlide type="right" />
</section>

<style>
  section {
    text-align: center;
    color: var(--primary-color);
    margin: 60px 0;
  }
</style>
