---
import SponsorsSlide from "../components/SponsorsSlide.astro";
const sponsors = [
  { imageUrl: "/assets/comunities/IncideTecPerú.png", altText: "IncideTecPerú", slot: "sponsor1" },
  { imageUrl: "/assets/comunities/quipuml.png", altText: "QuipuML", slot: "sponsor2" },
  { imageUrl: "/assets/comunities/gdg_callao.svg", altText: "gdg callao", slot: "sponsor3" },
  { imageUrl: "/assets/comunities/gdgopenlima.png", altText: "gdg open lima", slot: "sponsor4" },
  { imageUrl: "/assets/comunities/dsc_uni.png", altText: "DSC UNI", slot: "sponsor6" },
  { imageUrl: "/assets/comunities/ieee_untels_cs_rgb_pp_w.png", altText: "IEEE UNTELS", slot: "sponsor7" },
];

---

<section>
  <h2>Comunidades aliadas</h2>
  <SponsorsSlide type="right" sponsors={sponsors} />
</section>

<style>
  h2 {
    font-size: 30px;
    font-weight: 600;
  }
  section {
    width: 100%;
		max-width: var(--max-width);
		margin: auto;
		padding: 1rem;
    text-align: center;
    color: var(--primary-color);
  }
</style>
