---
import CardSchedule from "../components/CardSchedule.astro";

const talks = [
  { time: "9:30 AM", speaker: "Cristian Oscco", talkName: "¡Empieza Codeon 2024!" },
  { time: "9:45 AM", speaker: "Gianmarco Guerrero", talkName: "Notion Academy: Gestiona tus estudios y supera tus metas académicas" },
  { time: "10:20 AM", speaker: "Ángela Enciso", talkName: "Optimización de aplicaciones Android con Firebase" },
  { time: "11:10 AM", speaker: "Soleil Nuñez", talkName: "Del sueño al impacto: Pasos para iniciar y crecer una startup exitosa" },
  { time: "1:15 PM", speaker: "Homer López", talkName: "Firebase y React: Registra, autentica y envía correos en tiempo real" },
  { time: "2:05 PM", speaker: "Jimy Dolores", talkName: "Microfrontend con Angular y Module Federation" },
  { time: "3:10 PM", speaker: "Keneth Lopez", talkName: "EduKuna: Educación de calidad y accesible mediante el software educativo" },
  { time: "3:45 PM", speaker: "Jose Guerra", talkName: "Sumérgete en el mundo enterprise de los datos con Google Cloud" },
  { time: "4:35 PM", speaker: "Javier Blanco", talkName: "AWS Serverless y cómo prevenir incursiones en el mundo cloud" },
  { time: "5:20 PM", speaker: "Katherine Patricia Vildoso", talkName: "¿Qué opciones tengo para trabajar en videojuegos?" },
  { time: "5:50 PM", speaker: "Cristian Oscco", talkName: "Despedida" }
];

---

<div>
  {talks.map((e)=>(
  <CardSchedule title={e.talkName} text={e.speaker} hour={e.time} />
  ))}
</div>

<style></style>
