---
import SponsorsSlide from "../components/SponsorsSlide.astro";
---

<section>
  <h2>Sponsors</h2>
  <p>¡Conoce a nuestros sponsors!</p>
  <SponsorsSlide type="left" />
</section>

<style>
  section {
    width: 100%;
		max-width: var(--max-width);
		margin: auto;
		padding: 1rem;
    text-align: center;
    color: var(--primary-color);
  }
  h2 {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 600;
  }
  p {
    color: #ffffff;
    margin-top: 0;
  }
</style>
