---
import "../styles/normalize.css";

interface Props {
  title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from 'astro:transitions';
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
	<main class="app animateUp">
		<slot />
	</main>
  </body>
</html>

<style is:global>
  :root {
    --primary-font: "Poppins", sans-serif;
    --primary-color: #ff7a00;
    --primary-color-hover: #ff7a00;
    --bg-color: #192234;
    --text-color: #FFFFFF;
    --max-width: 1000px;
    --size-header: 80px;
  }
  [data-theme="light"] {
  }

  [data-theme="dark"] {
  }

  * {
    box-sizing: border-box;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
    scrollbar-gutter: 5px;
    background-color: var(--bg-color);
  }
  .app {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*max-width: var(--max-width);*/
    /*padding: 1rem;*/
    /*padding-top: calc(var(--size-header));*/
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
  }
  .app-main {
    width: 100%;
    max-width: var(--max-width);
    padding: 1rem;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  /*------------SCROLL----------------*/
  ::-webkit-scrollbar {
    width: 0.3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-hover);
    border-radius: 0.5rem;
  }
  /*------------Animates----------------*/
  .animateUp {
    animation: animateUp 1s;
  }

  @keyframes animateUp {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>